@model IEnumerable<ProjetAsp.Models.Categorie>

@{
    ViewData["Title"] = "Index";
}



<div class="card mb-4">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>

        Liste des categories
    </div>

    <div class="card-body">

        <table id="datatablesSimple">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CatID">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.CatID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CatID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    </div>


</div> 





