@model ProjetAsp.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trailer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.CatID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
